body {
  background-color: #f28ab2;
  padding: 1rem;
}
.container {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  width: 30%;
  margin: auto;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
}
span {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}
img {
  height: 77px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}
.celebrant-info {
  display: flex;
  align-items: center;
}
.celebrant-info div {
  margin: 0 0 0 0.5rem;
}
.age {
  color: rgb(114, 114, 114);
}
button {
  background-color: #f28ab2;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.6rem;
  margin: 1rem 0.4rem 0.4rem 0.4rem;
  font-size: 20px;
  cursor: pointer;
}
